<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="../assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="../assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
	<li class="breadcrumb-item active"><a href="javascript:;">Data</a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Races lists</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
	<!-- begin col-12 -->
	<div class="col-lg-12">
		<!-- begin nav-tabs -->
		<ul class="nav nav-tabs">
			<li class="nav-items">
				<a href="#" data-toggle="tab" class="nav-link racesList active" data-list="other">
					<span class="d-sm-none">Other</span>
					<span class="d-sm-block d-none">Other</span>
				</a>
			</li>
			<li class="nav-items">
				<a href="#" data-toggle="tab" class="nav-link racesList" data-list="past">
					<span class="d-sm-none">Past</span>
					<span class="d-sm-block d-none">Past</span>
				</a>
			</li>
			<li class="">
				<a href="#" data-toggle="tab" class="nav-link racesList" data-list="subscribed">
					<span class="d-sm-none">Subscribed</span>
					<span class="d-sm-block d-none">Subscribed</span>
				</a>
			</li>
		</ul>
		<!-- end nav-tabs -->
		<!-- begin tab-content -->
		<div class="tab-content">
			<!-- begin tab-pane -->
			<div class="tab-pane fade active show" id="default-tab-1">
				<table id="data-table-default" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="text-nowrap">Name</th>
							<th class="text-nowrap">Start at</th>
							<th class="text-nowrap">Route</th>
							<th class="text-nowrap">Laps</th>
							<th class="text-nowrap">Participants</th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- end tab-pane -->
		</div>
		<!-- end tab-content -->
	</div>
	<!-- end col-12 -->
</div>
<!-- end row -->
	
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script>
	App.setPageTitle('Color Admin | Home');
	App.restartGlobalFunction();

	$.getScript('../assets/plugins/DataTables/media/js/jquery.dataTables.js').done(function() {
		$.when(
			$.getScript('../assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js'),
			$.getScript('../assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js'),
			$.getScript('../assets/js/demo/table-manage-default.demo.js'),
			$.getScript('../assets/js/theme/moment.min.js'),
			$.Deferred(function( deferred ){
				$(deferred.resolve);
			})
		).done(function() {
			TableManageDefault.init();
		});
	});
</script>
<!-- ================== END PAGE LEVEL JS ================== -->
